<div class="container">
  <br>
  <div class="general-actions">
    <div class="create-button">
      <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>  Create</button>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
        <span class="input-group-addon" id="basic-addon1">
            <span class="glyphicon glyphicon-search"></span>
        </span>
    </div>
  </div>
  <div class="table-div">
    <table class="table table-sm">
      <thead class="table-dark">
        <tr>
          <th class="actions"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></th>
          <th *ngFor="let header of headers">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of entries">
          <td class="actions">
            <span class="glyphicon glyphicon-pencil edit"></span>
            <span class="glyphicon glyphicon-remove delete"></span>
          </td>
          <td>{{entry.name}}</td>
          <td>{{entry.gallons}}</td>
          <td>{{entry.sugar_content}}</td>
          <td>{{entry.location}}</td>
          <td>{{entry.timestamp}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
