<div class="container">
  <table class="log_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gallons</th>
        <th>Sugar Content</th>
        <th>Location</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of entries">
        <td>{{entry.name}}</td>
        <td>{{entry.gallons}}</td>
        <td>{{entry.sugar_content}}</td>
        <td>{{entry.location}}</td>
        <td>{{entry.timestamp}}</td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
